.flex-container {
  /* border = A linha que contorna todo o elemento */
  border: 2px solid black;
  
  /* display = flex = usamos para deixar a pagina flexivel */
  display: flex;

  /* font-size = para aumentar a letra ou numeros */
  font-size: 20px;

  /* text-align = center = usado para alinhar o texto ao centro */
  text-align: center;

/* flex-flow = row = usado para deixar os elementos na horizontal */
  flex-flow: row;

  /* justify-content = flex-start = O elementos serão todos alinhados a esquerda */
  justify-content: flex-start;
}

.box {
  background-color: rgb(0, 182, 0);
  border: 2px solid black;

  /* padding = distancia da borda */
  padding: 0 10px;

  /* border-radius = Ela arendonda a bordar do container ou outros */
  border-radius: 5px;

  flex: 1;
}

.sub-box {
  background-color: #ffffff;
  padding: 45px 45px;
  margin: 2px;

  /* align-self = center = usamos para alinhar ao centro */
  /* = start = todas as div são jogadas para a esquerda ou inicio
  = end =      todas as div são jogadas para a direita ou inicio
  = stretch = ela estica todos as div até o final para ambos os lados  */
  align-self: center;
}

.sub-container {

  /* row =  elementos fica em linha  */
flex-flow: column;
}